<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210812673872-4djnadf0m3ejkhic2pnnt35kkn3uo7g7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210812673872-4djnadf0m3ejkhic2pnnt35kkn3uo7g7</string>
	<key>API_KEY</key>
	<string>AIzaSyD2LE6guwffLlHagHalYah-bo4sqpxuDrM</string>
	<key>GCM_SENDER_ID</key>
	<string>210812673872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orioinc.tr.tech.fire2RTC</string>
	<key>PROJECT_ID</key>
	<string>fire2rtc-b098d</string>
	<key>STORAGE_BUCKET</key>
	<string>fire2rtc-b098d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:210812673872:ios:2f78612b3944f4e001d655</string>
</dict>
</plist>
